<% page_title "Dashboard" %>

<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <p>You can manage your FogSync.com storage here.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Current Usage</h2>

    <table class="table">
      <tbody>
      <tr>
        <td>Megs Stored</td>
        <td><%= current_user.megs_used %> (<%= @store_percent %>%)</td>
      </tr>
      <tr>
        <td>Megs Transferred</td>
        <td><%= current_user.megs_trans %> (<%= @trans_percent %>%)</td>
      <tr>
        <td colspan="2">Transfer is a soft limit. You may be throttled if many users on the same
          server exceed this limit.</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <h2>Current Plan</h2>

    <table class="table">
      <tbody>
      <tr>
        <td>Name</td>
        <td><%= @plan.name %></td>
      </tr>
      <tr>
        <td>Megs of Storage</td>
        <td><%= @plan.megs %></td>
      </tr>
      <tr>
        <td>USD/month</td>
        <td><%= @plan.usd_per_month %></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="center">
            <%= link_to "Change Your Plan", plans_path %>
          </div>
        </td>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <h2>Shares</h2>

    <table class="table">
      <thead>
        <th>Share Name HMAC</th>
        <th>Megs Used</th>
      </thead>
      <tbody>
      <% current_user.shares.each do |ss| %>
        <tr>
          <td><%= ss.name %></td>
          <td><%= ss.megs_used %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
