<% page_title "Dashboard" %>

<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <p>Here's where you can manage your FogSync.com file storage.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Current Usage</h2>

    <table class="table">
      <tbody>
      <tr>
        <td>Megs</td>
        <td><%= current_user.megs_used %></td>
      </tr>
      <tr>
        <td>Percent</td>
        <td><%= @percent %>%</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <h2>Current Plan</h2>

    <table class="table">
      <tbody>
      <tr>
        <td>Name</td>
        <td><%= @plan.name %></td>
      </tr>
      <tr>
        <td>Megs</td>
        <td><%= @plan.megs %></td>
      </tr>
      <tr>
        <td>USD/month</td>
        <td><%= @plan.usd_per_month %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <h2>Shares</h2>

    <table class="table">
      <thead>
        <th>Hash of Share Name</th>
        <th>Megs Used</th>
      </thead>
      <tbody>
      <% current_user.shares.each do |ss| %>
        <tr>
          <td><%= ss.name %></td>
          <td><%= ss.megs_used %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
