<div class="page-header">
  <%= link_to shares_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_share_path(@share), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show share</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @share.name %></dd>

  <dt>Root:</dt>
  <dd><%= @share.root %></dd>

  <dt>Blocks:</dt>
  <dd><%= @share.blocks %></dd>

</dl>
