<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FogSync - <%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-page-name="<%= params[:controller] %>/<%= params[:action] %>">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
            data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FogSync", root_path, :class => "navbar-brand" %>
    </div>
      
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= top_nav_item "Dashboard", main_dashboard_path %>
      <% else %>
          <%= top_nav_item "Welcome", root_path %>
      <% end %>
        <%= top_nav_item "Contact", main_contact_path %>
      
        <% if current_user && current_user.admin? %>
          <%= top_nav_item "Admin", main_admin_path %>
        <% end %>

        <li style="width: 2em;">&nbsp;</li>
        <%= top_nav_item "www.fogsync.com", "https://www.fogsync.com" %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= top_nav_item current_user.email, edit_user_registration_path %>
          <%= top_nav_item "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= top_nav_item "Register", new_user_registration_path %>
          <%= top_nav_item "Log In",  new_user_session_path %>
        <% end %> 
      </ul>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">
    <%= raw show_flash_notices %>
    <%= yield %>
  </div>
</div>

<div class="footer"> 

  <p>FogSync.com Sync Manager Copyright &copy;2014 Nat Tuck. Full <a
    href="https://github.com/fogcloud/fogweb">source code available</a> on
  Github under a no-commercial-use license. FogSync.com Sync Manager is
  alpha-quality software. I'm not liable even if it corrupts all your data, your
  computer explodes in a ball of fire, and your house burns down.</p>

</div>

<!--

  Some debugging info:

  Rails.env = <%= Rails.env %>

-->

</body>
</html>
